*{
	font-family: "Ancizar Serif", Times, serif;
}

.wrap{
	/*position: auto;*/
	border: solid;
	padding: 15px;
	background:  #3399ff;
	width: 800px;

}

div{
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	background: #e9e4e6;
	box-sizing: border-box;
}


h1, h2, h3, h4{
	text-align: center;
	margin-bottom: 10px;
}

h1{
	font-size: 30px;
	margin-bottom: 3px;
}
h2{
	font-size: 20px;
	color: #131313;
}
h3{
	font-style: normal;
	color: #131313;
}
h4{
	font-style: oblique;
}

input, textarea{
	margin-bottom: 5px;
	padding: 3px;
	box-sizing: border-box;
	margin-left: 3px;
	margin-right: 3px;
	background: #fbffd3;
	font-size: 15px;
}

input:focus, textarea:focus{
	border: 1px solid #DC143C;	
}

textarea{
	resize: none;
	width: 100%;
	height: 80px;
}

table, table td {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	border:1px solid #ccc;
	border-collapse: collapse;
	padding: 4px;
	max-width: 800px;
}
input[type="button"]{
	background: #a5a4a4;

	border-style: double #fff;
	border-width: 1px;
	border-radius: 5px;

	width: auto;

	margin-bottom:0px;
	height: 30px;
	font-weight: bold;
	font-size: 15px;
	color:#fff;
	
	
}
input[type="button"]:hover{
	cursor: pointer;
	background: #3399ff;
}

input[name="entr"], input[name="rec"]{
	width:95%;
}
section[class="entr"], section[class="rec"] {
	width: 49%;
	display: inline-table;
}