*{
	font-family: "Ancizar Serif", Times, serif;
}

.wrap{
	/*position: auto;*/
	border: solid;
	padding: 15px;
	background:  #3399ff;
	width: 800px;

}

div{
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	background: #e9e4e6;
	box-sizing: border-box;
}


h1, h2, h3, h4{
	text-align: center;
	margin-bottom: 10px;
}

h1{
	font-size: 30px;
	margin-bottom: 3px;
}
h2{
	font-size: 20px;
	color: #131313;
}
h3{
	font-style: normal;
	color: #131313;
}
h4{
	font-style: oblique;
}

input[name="clnt"]{
	width: 52.2%;
}
input[name="cot"]{
	width: 80px;
}
input[name="vrsn"]{
	width: 35px;
}

input, textarea, select{
	margin-bottom: 5px;
	padding: 3px;
	box-sizing: border-box;
	margin-left: 3px;
	margin-right: 3px;
	background: #fbffd3;
	font-size: 15px;
}

input:focus, textarea:focus{
	border: 1px solid #DC143C;	
}

textarea{
	resize: none;
	width: 100%;
	height: 80px;
}

table, table td {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	border:1px solid #ccc;
	border-collapse: collapse;
	padding: 4px;
	max-width: 800px;
}
label{
	margin-left: 3px;
}


input[type="button"]{
	background: #a5a4a4;

	border:none;
	border-width: 1px;
	border-radius: 5px;

	width: auto;

	margin-bottom:0px;
	height: 30px;
	font-weight: bold;
	font-size: 15px;
	color:#fff;
	
	
}
input[type="button"]:hover{
	cursor: pointer;
	background: #3399ff;
	border:none;
}

input[name="entr"], input[name="rec"]{
	width:95%;
}
section[class="entr"], section[class="rec"] {
	width: 49%;
	display: inline-table;
}
section[class="rd"]{
	width: 30%;
	text-align: center;
	display: inline-table;
}

input[name="emp"]{
	width: 60%;
}

.overlay{
	background: rgb(0,0,0,0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden; 
}
.overlay.active {
	visibility: visible;
}

.popup{
	box-shadow: 0px 0px 5px 0px rgb(0,0,0,0.5);
	padding: 20px;
	width: 700px; 

}

.popup .puBtnCer{
	text-align: right;
	display: block;
	text-align: right;
	color: #bbb;
}
.popup .puBtnCer:hover{
	color: #000;
}
.popup h3{
	margin-bottom: 20px;
}
.popup form input, .popup form textarea {
	margin-bottom: 20px;
}
.popup form .puCod{
	width: 35.5%;
}
.popup form .puTipo{
	width: 50.5%;
}
.popup form .puCant{
	width: 10%;
}
.popup form .puAdd{
	margin-bottom: 0px;
	width: 100%;
	position: relative;
}


